html{
    background-color: wheat;
    font-family: 'Geologica', sans-serif;;
}
body{
    font-family: 'Geologica', sans-serif;
    color: #899198;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
 }
a{
    color: #899198;
    text-decoration: none;
  }
.address{
    padding-left: 20px;
}
.phone{
    padding-left: 40px;
    text-align: center;
}
.logo{
    margin-top: 20px;
}
.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.list{
  float: left;
}
#list{
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
*{
  border: 2px solid;
  padding: 20px; 
  width: 300px;
  resize: horizontal;
  overflow: auto;
}
h2{
    text-align: center;
    display: block;
    font-family: 'geological' sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #3d4c58;
    line-height: 56px;
    margin-block-end: 18px;
    margin-block-start: -19.8px;
    margin-bottom: 18px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -19.8px;
    padding-top: 50px;
}
h4{
    color: rgb(61, 76, 88);
    display: block;
    font-family: 'geological' sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
}
p{
    text-align: center;
}
.tab{
    color: rgb(137, 145, 152);
    font-family: 600;
    font-size: 18px;
}

count up numbers
.counter-item {
    color: white;
    text-align: center;
  }
.counter-item > *:not(:first-child) {
    margin-top: 13px;
  }
.counter-item-icon {
    position: relative;
    font-size: 64px;
    line-height: 1em;
  }
.counter-item-icon:after {
    content: '';
    display: block;
    margin: 26px auto;
    height: 2px;
    width: 35px;
    background-color: #6fbf52;
  }
.counter-item-number {
    font-size: 36px;
    line-height: 1em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
.counter-item-text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }